<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" alt="first" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="second" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="third" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center">
        <h1>Welcom to the store</h1>
    </div>
</section>